<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Mongoose Database </title>
    </head>
    <body>
        <h1>
            Welcome to Mongoose Database
        </h1>
        <h2>
            List of animals:
        </h2>
        <ul>
            <% for( let i = 0; i < users.length; i ++ ){ %>
                <li>
                    <%= users[i].name %>, a <%= users[i].type %> is <%= users[i].age %> years old! <a href="/users/<%=users[i].id%>">See</a> <a href="/mongooses/edit/<%=users[i].id%>">Edit</a> <a href="/mongooses/destroy/<%=users[i].id%>">Delete</a>
                </li>
                
            <% } %>
        </ul>
        <a href="/mongooses/new">Add new animal</a>
    </body>
</html>